* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #fce7f3;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.counter-container {
  color: #292524;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.counter-container .counter {
  font-size: 7.2rem;
  font-weight: 600;
}

@media (max-width: 42.5em) {
  body {
    flex-direction: column;
  }
}
